    <!-- SITE HEADER -->
    <header class="mb-10 max-w-4xl w-full mt-4 px-4 mx-auto border-b border-zinc-800 pb-4">
{% if page.url == "/about" %}<a href="{{site.baseurl}}/" class="mb-4 hover:text-cyan-400">Home</a>
{% endif %}<a href="{{site.baseurl}}/about" class="mb-4 hover:text-cyan-400">About</a>
      <h2 class="text-2xl text-cyan-400 mt-4 font-bold mb-1">
        <i class="fa-solid fa-book-open mr-2"></i>Arsip Cerita L Y Я A
      </h2>
      <p class="text-zinc-400 text-sm">Selamat datang di dunia prompt terlarang. Pilih bab, dan biarkan kencleng bicara.</p>
    </header>